body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 100vh;
}

#encabezado {
    background-color: #cd2028;
    width: 100%;
}

#imagen-encabezado {
    border-right: 1px solid white;
    height: 120px;
}

#letra-menu {
    color: white;
}
.navbar-nav .nav-link {
    color: white;
  }
  

#texto_encabezado{
    font-size: 20px;
}

.fondo_azul{
    background-color: #029cd4;
    border-radius: 20px;
    margin-left: 1000px;
}

.fondo_azul_2{
    background-color: #029cd4;
    border-radius: 20px;
    color: white;
}

#imagen1{
    width: 100%; /* Expande la imagen horizontalmente */
    height: auto; /* Mantiene la altura proporcional a la anchura */
    display: block; /* Evita que la imagen tenga espacio extra debajo */
}

.IMAGENES1-1{
    
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    height: 40vh; /* Ajusta la altura del contenedor al 100% de la ventana del navegador */
  
}

.contenedor{
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
}

footer {
    height: 500px;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer_container{
    width: 4.5%; /* Reducir al 50% del tamaño original */
    height: auto; /* Mantener la relación de aspecto */
    float: left;
    margin-left: 350px;
}

.texto_pie{
    display: flex;
    width: 10%;
    font-size: 5px;
    margin-left: 430px;
    margin-top: 28px;
    padding-left: 150px;
}

.margen_intertexto{
    margin-left: 60px;
}

