

#encabezado {
    background-color: #cd2028;
    width: 100%;
}

#imagen-encabezado {
    border-right: 1px solid white;
    height: 120px;
}

#letra-menu {
    color: white;
}
.navbar-nav .nav-link {
    color: white;
  }
  

#texto_encabezado{
    font-size: 20px;
}

.fondo_azul{
    background-color: #029cd4;
    border-radius: 20px;
    margin-left: 1000px;
}

.fondo_azul_2{
    background-color: #029cd4;
    border-radius: 20px;
    color: white;
}

#imagen1{
    width: 100%; /* Expande la imagen horizontalmente */
    height: auto; /* Mantiene la altura proporcional a la anchura */
    display: block; /* Evita que la imagen tenga espacio extra debajo */
}

.IMAGENES1-1{
    
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    height: 40vh; /* Ajusta la altura del contenedor al 100% de la ventana del navegador */
  
}

.contenedor{
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
}